
body {
	background-color: #cad7e4;
}

main {
	font-family: 'Maven Pro', sans-serif;
	padding-left: 10px;
}

.me {
	text-align: center;
	background-color: yellow;
	padding-left: 0px;
}

.me:hover {font-size: 50px;}

.contact {
	background-color:#326ba9;
	width: 420px;
	padding-left: 4px;
 }