
body {
	background-color: #2a0c4a63;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	margin: 0px;
}

.home-button {
	margin-left: 4px;
	background-color: rgb(0, 205, 0);
}
h1 {
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	width: 400px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888	;
	margin-top: 10px;
}
h1:hover{
	font-size: 4em;
	transition: 2s;
}

h2 {
	color: red;
	text-align: center;
	border: 5px dashed purple;
	cursor: pointer;
}

p { 
	color: yellow;
 }

li {
	list-style: none;
	display: inline-block;
}




footer {
	clear: both;
	text-align: center;
	font-size: 1.3em;
	}
.containter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.containter img {
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s ;
}

.containter img:hover{
	transform: scale(1.1);
}